* {
  padding: 0;
  margin: o;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: black;
}
.heartSpan {
  width: 100px;
  height: 100px;
  background-image: url("https://cdn0.iconfinder.com/data/icons/heart-in-love/512/heart_star-512.png");
  position: absolute;
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: animate 6s linear;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: hue-rotate(0);
  }
  100% {
    transform: translate(-50%, -5000%);
    opacity: 0;
    filter: hue-rotate(720deg);
  }
}
